pkgbase = python-ruamel-yaml-hg
	pkgdesc = YAML parser/emitter that supports roundtrip preservation of comments, seq/map flow style, and map key order
	pkgver = 0.18.6.r2.0bef9fa8b3c4
	pkgrel = 1
	url = https://sourceforge.net/projects/ruamel-yaml/
	arch = any
	groups = devel
	license = MIT
	makedepends = mercurial
	makedepends = python-setuptools
	makedepends = wget
	depends = python
	provides = python-ruamel-yaml
	conflicts = python-ruamel-yaml
	source = yaml::hg+http://hg.code.sf.net/p/ruamel-yaml/code
	md5sums = SKIP

pkgname = python-ruamel-yaml-hg
